.icon-dashboard {
    background-image: url('../../assets/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../assets/icon/report.png');
}

.icon-dic-employee {
    background-image: url('../../assets/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../assets/icon/setting.png');
}